@font-face {
    font-family: 'MyFont';
    src: url('./MaruBuri-ExtraLight.ttf') format('ttf'),
      url('./MaruBuri-ExtraLight.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
  }


* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    width:100%;
    height:100vh;
}
